################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/bin
/**/obj
/TestResults/8f13c5b8-c238-48d7-b9be-1be4cac4cc16
/PersistingAsyncEnumerable/Properties/PublishProfiles
/PersistingAsyncEnumerable/PersistingAsyncEnumerable.csproj.user
